{% extends "basic_app/base.html" %}
{% block my_block %}

<div class="jumbotron">
    <h1 class="display-4">ようこそ</h1>
    <p>There are a lot of cute cats here!!!!</p>
</div>

<div class="container">
    <h2>Cute Cats Hehe</h2>
    <div class="row">
        <div class="col-lg-4 col-6"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg?crop=1.00xw:0.749xh;0,0.154xh&resize=768:*" alt="some coffee" class="img-thumbnail"></div>    
        <div class="col-lg-4 col-6"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-photos-of-cats-curled-up-sleeping-1593184773.jpg?crop=0.9137115839243499xw:1xh;center,top&resize=768:*" alt="some coffee" class="img-thumbnail"></div>
        <div class="col-lg-4 col-6"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-photos-of-cats-in-grass-1593184777.jpg?crop=0.6655808903365906xw:1xh;center,top&resize=768:*" alt="some coffee" class="img-thumbnail"></div>
        <div class="col-lg-4 col-6"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-photos-of-cats-playing-toy-1593184782.jpg?crop=0.668xw:1.00xh;0.0518xw,0&resize=768:*" alt="some coffee" class="img-thumbnail"></div>
        <div class="col-lg-4 col-6"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-photos-of-cats-sleeping-arms-1593184782.jpg?crop=0.7887179487179488xw:1xh;center,top&resize=768:*" alt="some coffee" class="img-thumbnail"></div>
        <div class="col-lg-4 col-6"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d585815f-9fc0-440f-9949-a4a9c06bb713/d6oq2wt-8eca683b-2b6c-49cd-a889-acaad1f04c8c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDU4NTgxNWYtOWZjMC00NDBmLTk5NDktYTRhOWMwNmJiNzEzXC9kNm9xMnd0LThlY2E2ODNiLTJiNmMtNDljZC1hODg5LWFjYWFkMWYwNGM4Yy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.mpW1MvmvbpLKIxXeQvtD9ITIjW5AhHZ0oTjpiH6fDLQ" alt="some coffee" class="img-thumbnail"></div>
    </div>
</div>
{% endblock %}

